* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(247, 232, 213);
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 40px;
}

.nav-item {
  font-size: 20px;
  color: rgba(25, 11, 219, 0.932);
  cursor: pointer;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(14, 185, 65);
}

.header-loggedIn {
  margin: 0 3rem;
}

.header-hello {
  font-weight: bold;
}

.header-logout {
  margin-left: 0.5rem;
}

/* Button Styling */
.btn-logout {
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.btn-logout:hover {
  cursor: pointer;
}
