.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 20rem;
  align-content: center;
  margin-top: 2rem;
}

.btn-login {
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.btn-login:hover {
  cursor: pointer;
}
