/* Products Styling */
.products {
  padding: 10px 20px;
}

.products-header {
  position: relative;
}

.products h1 {
  font-size: 40px;
  text-decoration: underline;
  flex-grow: 1; /* Allow the h1 to take up the available space */
  text-align: center;
}

.products-search {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
}

.products-sorting {
  position: absolute;
  top: 0;
  right: 0;
}

.products-sortingMenu {
  background-color: rgb(73, 70, 70);
  color: white;
}

.products-list {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.product {
  padding: 10px 15px;
  list-style-type: none;
  background-color: rgb(215, 168, 107);
  border: 1px solid grey;
  transition: transform 0.6s ease;
}

.product:hover {
  transform: translatey(7px);
}

.product-img {
  max-height: 200px;
  width: auto;
}

.product-oldPrice {
  text-decoration: line-through;
  font-style: italic;
}

.product-newPrice {
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

/* Product Page Styling */
.products-page {
  display: grid;
  justify-items: center;
  background-color: rgb(215, 168, 107);
  height: 80vh;
}

.products-page h1 {
  display: grid;
  margin-bottom: 0px;
}

.products-page-stock {
  display: grid;
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.products-page-middle {
  display: flex;
}

.products-page-middleRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-page img {
  width: 300px;
  height: auto;
}

.product-page-oldPrice {
  text-decoration: line-through;
  font-style: italic;
  font-size: 20px;
}

.product-page-newPrice {
  color: red;
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}

.products-page-tags {
  margin-top: 10px;
}

.products-page-tag {
  background-color: rgb(235, 160, 160);
  font-style: italic;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling For Different Screen Sizes */
@media only screen and (max-width: 1320px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .products-sorting {
    position: relative;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 710px) {
  .products-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
