:root {
  --main-color: #face95;
  --secondary-color: #f7e8d5;
  --text-color: #171219;
  --accent: #9d5c63;
}
.profile-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.profile-box {
  margin: 10px;
}

.profile img {
  border-radius: 20px;
}

.profile-name {
  font-size: 20px;
}

.profile-proffession,
.profile-email {
  font-size: 13px;
}

.profile-interests {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-product {
  border: 1px solid grey;
  margin-top: 5px;
  width: 300px;
}
.loader {
  border: 4px solid #f7e8d5;
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#prof {
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile-page {
  padding: 48px;
}
.prof-header-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--secondary-color);
  width: fit-content;
  padding-inline: 24px;
  border-radius: 12px;
  box-shadow: 2px 1px 8px var(--accent);
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--text-color);
}
.F-name {
  font-size: 32px;
}
.L-name {
  font-size: 20px;
}
