@tailwind base;
@tailwind components;
@tailwind utilities;

.application {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

main {
  flex: 1;
}

body {
  font-family: 'Roboto', sans-serif;
}
